.fill-remaining-space {
	flex: 1 1 auto;
}
.toolbar {
	height: 65px;
}

.langSelect {
	width: 0px;
}

.overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

::ng-deep {
	.langSelect div.mat-select-arrow-wrapper {
		display: none;
	}
	.langSelect.mat-select {
		display: inline;
	}
}

.side-navigation-container {
	height: calc(100% - 65px);
}

.content-width {
	width: calc(100% - 250px);
}

.navigation-width {
	width: 250px;
}
