<div fxLayout="row">
	<mat-card class="note-card">
		<mat-card-content fxLayout="column">
		  <mat-form-field fxFlex *ngIf="note?.editing">
			<input matInput [ngModel]="note?.title" (ngModelChange)="valueChange($event)">
		  </mat-form-field>
		  <div *ngIf="!note?.editing">{{note?.title}}</div>
		</mat-card-content>
		<mat-card-actions>
		  <button mat-button (click)="edit(note)" matTooltip="{{'EDITNOTE' | translate}}">{{editButtonTitle(note)}}</button>
		  <button mat-button (click)="delete(note)" matTooltip="{{'DELETENOTE' | translate}}">{{'DELETE' | translate}}</button>
		</mat-card-actions>
	  </mat-card>
</div>
